---
const { text, variant, id, class: extraClass, ...rest } = Astro.props;
---

<button id={id} class={`btn ${variant} ${extraClass || ""}`} {...rest}>
  {text}
</button>

<style>
  .btn-sekundær {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    margin-top: 2em;
    background-color: var(--primary-btn);
    color: var(--text-inverted);
    cursor: pointer;
  }

  .btn-sekundær:hover {
    background-color: var(--hover-btn);
  }

  .btn-primær {
    padding: 0.5rem 1rem;
    border: var(--hover-btn) 2px solid;
    border-radius: 30px;
    margin-top: 2em;
    background-color: var(--primary-section-bg);
    color: var(--heading-color);
    cursor: pointer;
  }

  .btn-primær:hover {
    background-color: #d7d7d7;
  }

  .btn-tilmeld {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    margin-top: 2em;
    background-color: var(--primary-btn);
    color: var(--text-inverted);
    cursor: pointer;
  }

  .btn-tilmeld:hover {
    background-color: var(--hover-btn);
  }

  .btn-se_mere {
    padding: 0.5rem 1rem;
    border: var(--hover-btn) 2px solid;
    border-radius: 30px;
    margin-top: 2em;
    background-color: var(--primary-section-bg);
    color: var(--heading-color);
    cursor: pointer;
  }

  .btn-se_mere:hover {
    background-color: #d7d7d7;
  }

  button {
    font-family: "Lexend";
    font-weight: 300;
    font-size: 1em;
  }
</style>
