---
//@ts-nocheck

const { pathname } = Astro.url;

const navLinks = [
  { title: "EVENTS", path: "/events" },
  { title: "MØD ANDRE", path: "/moedAndre" },
];
---

<header>
  <nav>
    <ul>
      {
        navLinks.map((link) => {
          return (
            <li>
              <a href={link.path} class={pathname === link.path && "active"}>
                {link.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>

<style>
  nav ul {
    display: flex;
    gap: 5rem;
    font-size: 1.25em;
  }

  nav ul li a {
    color: #2c2520;
  }
  nav ul li a.active {
    font-weight: bold;
  }

  nav ul li a:hover {
    font-weight: bold;
  }
</style>
